# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.egg-info/
*.egg
.eggs/
dist/
build/
.Python

# Virtual environments
venv/
.venv/
env/
.env

# Jupyter
.ipynb_checkpoints/


# PyTorch profiler traces
*.pt.trace.json

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
